.nav{
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}
.nav > *{
    color: white;
    text-decoration: none;
    margin: 10px;
}

.nav > *:hover{
    color: yellow;
}